@*@model NightIV.Models.Customer*@
@model NightIV.ModelsView.CustomerFormViewModel
@{
    ViewBag.Title = "New";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@if(Model.Customer == null || Model.Customer.Id == 0)
{
    <h2 >New Customer</h2>
}
else
{
    <h2>Edit Customer</h2>
}


@using (Html.BeginForm("Save", "Customer"))
{
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Name)
        @Html.TextBoxFor(m => m.Customer.Name, new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Name )
    </div>
    <div class="form-group">
        @Html.LabelFor(m => m.Customer.Birthday)
        @Html.TextBoxFor(m => m.Customer.Birthday, "{0:d MMM yyyy}", new { @class = "form-control" })
        @Html.ValidationMessageFor(m => m.Customer.Birthday)
    </div>


    <div class="form-group">
        @Html.LabelFor(m => m.Customer.MemberShipTypeId)
        @Html.DropDownListFor(m => m.Customer.MemberShipTypeId, new SelectList(Model.MemberShipTypes, "Id", "Name"), "Select MemberShipTypes", new { @class = "form-control" })
      
    </div>
    <div class="checkbox">
        <label>
            @Html.CheckBoxFor(m => m.Customer.IsSubscribed) Subscribed to NewsLetter
        </label>
    </div>

    @Html.HiddenFor(m => m.Customer.Id)

    <button type="submit" class="btn btn-primary">Save</button>
}