@model NightIV.Models.Movie
@using NightIV.Models

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@if(Model != null )
            {
                <h3>@Model.Name</h3>
                <ul class="text-secondary">
                    <li>Genere: @Model.GenresId</li>
                    <li>Release Date: @Model.ReleaseDate.ToString("dddd / MMMM/ yyyy")</li>
                    <li>Date Added: @Model.DateAdded.ToString("dddd / MMMM/ yyyy")</li>
                    <li>Number in Stock: @Model.Stock</li>
                </ul>
            }
 else
            {
                <p>There is no Movie yet!</p>
            }
